<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" href="../css/index_main.css" rel="stylesheet">
    <link type="text/css" href="../plug-in/layer/theme/default/layer.css" rel="stylesheet">
    <!-- plug_in-js  -->
    <script src="../plug-in/jquery-3.2.1.min.js"></script>
    <script src="../plug-in/echarts.js"></script>
    <script src="../plug-in/layer/layer.js"></script>


</head>

<body>
<!--div-->
<div id="index_main">
    <div id="panel_top">
        <div id="map"></div>
        <div id="panel_top_child">
            <div id="tables"></div>
            <div id="splashes"></div>
        </div>
    </div>
    <div id="panel_bottom">
        <div id="provinceMap"></div>
        <div id="columnar"></div>
        <div id="circleM"></div>
        <div id="axisM"></div>
    </div>
</div>
<!--map-->
<script type="text/javascript"
        src="https://api.map.baidu.com/api?v=2.0&ak=ELDfZ0AAbikqWNtM86XxxEdUd2bX7Gk6&s=1;"></script>
<script src="../plug-in/mapv.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/RectangleZoom/1.2/src/RectangleZoom_min.js"></script>
<script type="text/javascript" src="http://api.map.baidu.com/library/Heatmap/2.0/src/Heatmap_min.js"></script>
<!--script-->
<script src="../js/main/circleM.js"></script>
<script src="../js/main/columnar.js"></script>
<script src="../js/main/map.js"></script>
<script src="../js/main/provinceMap.js"></script>
<script src="../js/main/splashes.js"></script>
<script src="../js/main/axisM.js"></script>
<script src="../js/main/tables.js"></script>

</body>
</html>
